[submodule "packages/plugins-workspace"]
	path = packages/plugins-workspace
	url = ssh://git@github.com/DependencyCodeEditorLand/plugins-workspace.git
	branch = v2
	ignore = all
[submodule "packages/awesome-tauri"]
	path = packages/awesome-tauri
	url = ssh://git@github.com/DependencyCodeEditorLand/AwesomeTauri.git
	branch = dev
	ignore = all
[submodule "packages/tauri"]
	path = packages/tauri
	url = ssh://git@github.com/DependencyCodeEditorLand/Tauri.git
	branch = dev
	ignore = all
